* {box-sizing:border-box}

/* Slideshow box */
.slideshowContainer {
  max-width: 1980px;
  position: relative;
  margin: auto;
}

/* Hide the images */
.mySlides {
  display: none;
}

/* Next & back */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* When hovering it'll have a differnt color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.darkText {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 2/3 3/3) */
.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*body */


body {
background-color:#EEEBE5;
padding: 0;
}

/*nav*/

nav ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
  background-color: #D9D1C2; 
  overflow: hidden; 
}
nav li {
  float: left; 
  display: inline-block; 
}
nav li a {
  display: block;
  color: #333; 
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', serif;
}
nav li a:hover {
  background-color: #ddd; 
}
/*code for displaying images */
.image-gallery {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.image-container {
  width: 250px; 
  margin: 10px;
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
}
/*caption */

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px;
}

/* configuring text */

.familypod {
padding: 10px;
  
}

.left {
  display: flex;
  text-align: left; 
  margin-bottom: 30px;
}
.big {
  font-family:'Lucida Sans', serif; 
  font-size: 3em; 
  margin-right: 30px;
  font-weight: bold;
  font-style: italic;
}
/*Heading texts but depending on where they are, ex: .big is normal
.bigcenter is the same but centered and .bigleft is just the same but on left*/

  .bigCenter {
    font-family: 'Lucida Sans', serif; 
    font-size: 3em; 
    text-align: center;  
    font-weight: bolder;
}


/*text */

.normalText {
  font-family: 'Segoe UI', sans-serif; 
  font-size: 1em; 
padding: 30px;
}

.normalTextCenter {
  font-family: 'Segoe UI', sans-serif; 
  font-size: 1em; 
  text-align: center;
  padding: 30px;
}
.socialMediaText {
  font-family:'Lucida Sans', serif; 
  font-size: 2em; 
  margin-right: 30px;
  font-weight: bold;
  font-style: italic;
}

/*configure color background for some sections*/

.brownBack {
  background-color: #D9D1C2;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.events {
  margin-bottom: 100px;
}
  
  .section-with-image {
    padding: 20px;
    margin-bottom: 20px; 
    position: relative; /* For positioning the text */
  }
  .relax {
    background-image: url("pool.jpeg"); /* Background image for RELAX */
    color: white;
    background-size: cover;
    background-position: center;
 
  }
  .reconnect {
    background-image: url("bohoroom.jpeg"); /* Background image for RECONNECT */
    background-size: cover;
    background-position: center;

  }
  .rejuvenate {
    background-image: url("spa.webp"); /* Background image for REJUVENATE */
    background-size: cover;
    background-position: center;
  }
  
/* RATES SECTION*/
  
  .rates-section {
    background-color: #D9D1C2;
    margin-bottom: 30px;
  }
  .rates-section table {
    width: 100%; /* Make the table full width */
    border-collapse: collapse; /* Remove cell spacing */
  }
  .rates-section th, 
  .rates-section td {
    padding: 10px;
    text-align: left; /* Left-align text */
    border: 1px solid #ddd; /* Add borders to cells */
  }
  .rates-section th {
    background-color: #f2f2f2; /* Light background for header */
  }


